@keyframes zoom {

    100% {
        width: 350px;
        height: 200px;
        border-radius: 0 0 20px 20px;
    }


}


/*.contenedor-img {
    position: relative;
    width: 250px;
    height: 150px;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.3), rgba(0,0,0,1));
}*/

.video-img {
    position: relative;
    width: 250px;
    height: 150px;
    border-radius: 0 0 10px 10px;
    margin: 20px;
}

.video-img:hover {
    animation-name: zoom;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

